.wrapper {
    height : 500px;
    width : 100%;
    margin-top : 10%;
    
    /* position: relative; */
    /* flex-direction: row;
    flex-wrap: nowrap; */
}
.profile {
    width : 300px;
    height : 400px;
    background-color: #F3EEFF;
    right : 50%;
    margin-right: 5%;
    margin-left: 10%;
    display : inline-block;
    /* flex-direction: row; */
    border-radius: 30px;
}
img {
    width : 50%;
    height :50%;
    margin : 0 auto;
    display: block;
    margin-top: 60px;
}
.profile>button {
    background-color: pink;
    width : 150px;
    height : 50px;
    margin-left: 30%;
    margin-top : 50px;
}