.category {
  -webkit-padding-start: 0px;
}

.title {
  word-break: break-all;
  text-align: center;
  font-size: 30pt;
  margin: 24px 0;
}

.theme {
  width: 400px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 24pt;
}

.theme::marker {
  color: #6B6FAE;
}

.items {
  list-style: none;
  margin: 20px auto;
  font-size: 20pt;
  font-weight: 500;
  background-color: aliceblue;
  box-shadow: 1px 1px 3px 1px #cfe9ff;
  padding: 5px;
}


@media (max-width: 1023px) {
  .title { font-size: 26pt; }
  .theme { font-size: 20pt; }
  .items { font-size: 18pt;}
}
 
@media (max-width: 767px) {
  .title { font-size: 22pt; }
  .theme { width: 340px; }
  .theme { font-size: 18pt; }
  .items { font-size: 16pt;}
}
 
@media (max-width: 639px) {
  .title { font-size: 18pt; }
  .theme { width: 270px;
           font-size: 16pt; }
  .items { font-size: 14pt;}
}