.Template {
    /* padding-top : 30%; */
    background-color: #D3D4E7;
    width : 80%;
    height : 500px;
    margin-top: 40px;
    /* position : relative; */
    margin-right: auto;
    margin-left: auto;
    /* display : inline-block; */
}
.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
