/*.wrap{
    width: 100%;
    height: 100%;
}*/
.head{
    height: 100px;
    width: 100%;
    background-color: #6B6FAE;
    color: white;

    padding-left: 50px;
    padding-top: 20px;
    font-size: 50px;
    font-weight: 600;
}
.jsblock{
    height: 370px;
    /*margin: 0 10%;*/
}
h2{
    margin-left: 10%;
    margin-top: 50px;
    font-size: 35px;
}
.imgs{
    display: grid;
    grid-template-columns: 0.2fr 3fr 2fr;
    grid-gap: 60px;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    
}
.imgbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    /*display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;*/
}
.jsimg{
    height: 250px;
   
    /*flex-basis: 400px;*/
}
button{
    border: none;
    color: white;
    background-color: #6B6FAE;
    width: 70px;
    height: 80px;
    
}
.rblock{
    height: 370px;
    /*margin: 0 150px;
    height: auto;*/
}

@media (max-width: 1023px){

    .jsimg{
        width: 220px;
    }
    .imgs{
        grid-gap: 20px;
    }

}
@media (max-width: 767px){
    .head{
        font-size: 35px;
        padding-top: 30px;
        padding-left: 40px;
    }
    h2{
        font-size: 30px;
    }
    .jsimg{
        width: 180px;
        height: 200px;
    }
    .icon{
        width:30px;
    }
    .imgbox{
        grid-gap: 10px;
    }
    .imgs{
        grid-gap: 20px;
    }
}
@media (max-width: 639px){
    .head{
        font-size: 35px;
        padding-top: 30px;
        padding-left: 40px;
    }
    .h2{
        font-size: 25px;
    }
    .jsimg{
        width: 140px;
        height: 180px;
    }
    .icon{
        width:25px;
    }
}